PORT=4000

MONGODB_URI=mongodb+srv://<user>:<password>@cluster0.xxxxx.mongodb.net/geereel?retryWrites=true&w=majority

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

FIREBASE_SERVICE_ACCOUNT_PATH=./config/firebase-service-account.json

CORS_ORIGIN=*
